---
title: Duka ya Nanasi
---

<h1>
 Duka ya Nanasi
</h1>


<h1>Quantity Selection</h1>

<%= partial(:image, :locals => {
  :src => '/nanasi/images/nanasi.jpg',
  :title => 'Nanasi',
  :price => '150/=',
  :alt => 'Picture of Pineapple',
  :width => '200px',
  :caption => 'Nanasi',
})%>
<input type="number" id="nanasi" onclick="changeNanasi()" value="0" min="0" max="20" step="1">


        <h1>Delivery Location Selection</h1>
<div id="map-container" >
              <div id="mapid"></div>
        </div>
        <h1>Payment</h1>
               <form id="buy">
 <ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
          <label for="telephone">Telephone:</label>
          <input type="tel" id="telephone" name="user_telephone">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
  </li>
  <li>
    <label for="address">Delivery Address:</label>
    <textarea id="address" name="user_address"></textarea>
  </li>
  <li>
    <label for="msg">Additional information:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
 </ul>
 <li class="button">
  <button type="button" id="pay" onClick="payWithRave()">Pay</button>
</li>
</form>

